OPENAI_API_KEY="OPEN_AI_KEY (sk-)"
PAGEINDEX_API_KEY="PAGEINDEX_API_KEY"
TELEGRAM_BOT_TOKEN="TELEGRAM_BOT_TOKEN"
BOT_USERNAME=PageIndex
SUPABASE_URL="SUPABASE_URL (https://.supabase.co)"
SUPABASE_KEY="SUPABASE_KEY (ey)"    